@charset "utf-8";
@import "~bulma/bulma";


section.main {
  margin-top: 30px;
}

.slick-next { right: 25px !important; }
.slick-prev { left: 25px !important; }
.slick-dots { bottom: 25px !important; }
.slick-prev, .slick-next, .slick-dots { z-index: 1; }