@charset "utf-8";
$info: #1884cc;

@import "~bulma/bulma";
@import "place_list";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "helpers";

section.main {
  margin-top: 30px;
}

.slick-next { right: 25px !important; }
.slick-prev { left: 25px !important; }
.slick-dots { bottom: 25px !important; }
.slick-prev, .slick-next, .slick-dots { z-index: 1; }

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone


@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.navbar-item-city {
  .navbar-dropdown {
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10,10,10,0.1);
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
  }

  &:focus-within .navbar-dropdown, &:hover .navbar-dropdown {
    display: block;
  }
}

.slick-prev:before, .slick-next:before {
  font-size: 40px !important;
  opacity: 1 !important;
  text-shadow: 0px 2px rgba(0,0,0,0.5);
}
.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
}


.box {
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.2), 0 0px 0 1px rgba(10,10,10,0.02);
}

p:empty {
  height: 20px;
}

.slick-loading .slick-list
{
  background: none !important;
}

.navbar-cities-dropdown {
  width: 1000px;
}

.navbar-cities-dropdown-city {
  width: 20%;
  float: left;
}

.navbar-link-city-modal {

}

.scroll-bar-primary {
}

.scroll-bar-primary::-webkit-scrollbar {
  width: 1em;
}

.scroll-bar-primary::-webkit-scrollbar-track {
  box-shadow: none;
}

.scroll-bar-primary::-webkit-scrollbar-thumb {
  background-color: $info;
  border-radius: 9px;
  outline: none;
  border: 4px solid white;
}

.place-room-item__image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: $info;
}

.place-room-item__image-overlay:hover {
  opacity: 0.5;
}

.place-room-item__image-overlay__icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px !important;
}

.place-slider__item {
  height: 500px !important;
}

@media screen and (max-width: $tablet) {
  .place-slider__item {
    height: 300px !important;;
  }
}

