.place-list-item-box {
  border: 1px solid white;
  display: block;
  &:hover {
    border: 1px solid $info;
  }
  height: 100%;

}


.place-list-item {
  display: flex;
  flex-direction: column;

  a {
    height: 100%;
  }
}
