<div class="column  p-t-0">
    <div class="columns is-multiline is-variable bd-klmn-columns is-1 is-flex place-list-items">
        {% for place in places %}
            {% include '_place.twig' %}
        {% endfor %}
    </div>
</div>