<div class="column is-6 p-b-0 p-t-0" style="padding-bottom:10px; padding-top:0;">

    <a href="{{ place.link() }}">
        <figure>
            <img width="100%" src="{{ place.image | thumbnail(480, 200, 'c') }}" alt=""/>
            <figcaption>
                <h2>{{ place.title }}</h2>
                {% if place.subtitle %}
                    <p>{{ place.subtitle }}</p>
                {% endif %}
            </figcaption>
        </figure>
    </a>
</div>