{% set city_name = app.request.get('name') %}
{% extends 'partials/_master.twig' %}
{#{% set meta_title = record.meta_title ? record.meta_title : record.title %}#}
{#{% set meta_description = record.meta_description %}#}
{#{% set meta_keywords = record.meta_keywords %}#}
{% block main %}
    <section class="section main">
        <div class="container">
            <div class="columns">
                {% include 'partials/_side_categories.twig' %}
                {% set ids = getPlacesByCity(city_name) | join(" || ") %}
                {% setcontent places = "places" where { id: ids } allowpaging limit 10 %}
                {% include '_place_listing.twig' with { 'places' : places } only %}
                {{ pager('places') }}
            </div>
        </div>
    </section>
{% endblock main %}
