{% set city_name = citySlug %}
{% setcontent entries = 'entries' where { cities: city_name }  %}
{% set first_entrie = entries | first %}
{% extends 'partials/_master.twig' %}
{% if first_entrie %}
    {% set meta_title = first_entrie.meta_title ? first_entrie.meta_title: city_name %}
    {% set meta_description = first_entrie.meta_description %}
    {% set meta_keywords = first_entrie.meta_keywords %}
{% endif %}
{% block main %}
    <section class="section main">
        <div class="container">
            <div class="columns">
                {% include 'partials/_side_categories.twig' %}
                <div class="column  p-t-0">
                    <div class="columns is-multiline is-variable bd-klmn-columns is-1 is-flex place-list-items">
                        {% for place in places %}
                            {% include '_place_on_city_page.twig' %}
                        {% endfor %}
                    </div>
                    {% if entries | length > 0 %}
                        <div class="container">
                            {% for entry in entries %}
                                <div>{{ entry.body | raw }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
