{% extends 'partials/_master.twig' %}

{% set meta_title = record.meta_title ? record.meta_title : record.title %}
{% set meta_description = record.meta_description %}
{% set meta_keywords = record.meta_keywords %}

{% block main %}
    <section class="section main">
        <div class="container">
            <div class="columns">
                {% include 'partials/_side_categories.twig' %}
                <div class="column">

                    <div class="columns is-multiline is-variable bd-klmn-columns is-1">

                        {% set ids = record.relation.places|join(" || ") %}

                        {% setcontent places = "places" where { id: ids } allowpaging limit 10 %}

                        {# Костыль из-за тупого бага #}
                        {% if places | length == 1 %}
                            {% set places = [places] %}
                        {% endif %}

                        {% for place in places %}
                            {% include '_place.twig' %}
                        {% endfor %}
                    </div>
                    {{ pager('places') }}

                </div>
            </div>
        </div>
    </section>
{% endblock main %}
