{% extends 'partials/_master.twig' %}
{% block main %}
    <section class="section main">
        <div class="container">
            <div class="columns">

                {% include 'partials/_side_categories.twig' %}

                {% setcontent places = 'places/latest/500' where { public_on_main_page: true } %}

                {% include '_place_listing.twig' with { 'places' : places } only %}

            </div>
        </div>
    </section>
{% endblock main %}
