{% extends 'partials/_master.twig' %}
{% block main %}
    <section class="section main">
        <div class="container">
            <div class="column p-t-0 p-l-0 p-r-0">
                <div class="columns is-multiline is-variable bd-klmn-columns is-1 is-flex place-list-items">
                    {% for key, cityTitle in app.config.get('taxonomy/cities/options') %}
                        <div class="column is-3 place-list-item">
                            <a href="{{ path('_city_citySlug', { 'citySlug' : key }) }}">
                                <div class="place-list-item-box box p-t-0 p-b-10 p-r-0 p-l-0 is-clipped">
                                    <figure>
                                        <img width="100%" src="{{ ('cities/' ~ key ~ '.jpg') | thumbnail(480, 300, 'c') }}" alt=""/>
                                        <figcaption class="m-l-20 m-r-20">
                                            <h4 class="has-text-black has-text-centered title is-4 m-t-10">{{ cityTitle }}</h4>
                                        </figcaption>
                                    </figure>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
