{% extends 'partials/_master.twig' %}

{% block main %}
<section class="section">
    <div class="container">
        {#<h1>{{ dump(app.config.get('taxonomy/cities/options')) }}</h1>#}
    </div>
</section>
{% endblock main %}
